@model TableSourceCLE.Models.RecipientOrganization

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RecipientOrganization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecipientCategory.recipientCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientCategory.recipientCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipientAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipientAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipientCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipientCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipientState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipientState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipientZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipientZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipientPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipientPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipientTaxID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipientTaxID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
